In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
import sklearn

In [12]:
import os

current_directory = os.getcwd()

print(current_directory)

C:\Users\nanda\GIT Projects

In [9]:
df = pd.read_csv("healthcare-dataset-stroke-data.csv")

In [14]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [15]:
df.tail()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [17]:
df["stroke"].value_counts()

stroke
0    4861
1     249
Name: count, dtype: int64

In [19]:
df_new = df.dropna()

In [20]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4909 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 4909 non-null   int64
 1   gender             4909 non-null   object
 2   age                4909 non-null   float64
 3   hypertension       4909 non-null   int64
 4   heart_disease      4909 non-null   int64
 5   ever_married       4909 non-null   object
 6   work_type          4909 non-null   object
 7   Residence_type     4909 non-null   object
 8   avg_glucose_level  4909 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     4909 non-null   object
 11  stroke             4909 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 498.6+ KB

In [21]:
df_new["stroke"].value_counts()

stroke
0    4700
1     209
Name: count, dtype: int64

In [27]:
X = df_new.drop("stroke", axis = 1)
y = df_new["stroke"]

In [31]:
X, y

(         id  gender   age  hypertension  heart_disease ever_married  \
 0      9046    Male  67.0             0              1          Yes
 2     31112    Male  80.0             0              1          Yes
 3     60182  Female  49.0             0              0          Yes
 4      1665  Female  79.0             1              0          Yes
 5     56669    Male  81.0             0              0          Yes
 ...     ...     ...   ...           ...            ...          ...
 5104  14180  Female  13.0             0              0           No
 5106  44873  Female  81.0             0              0          Yes
 5107  19723  Female  35.0             0              0          Yes
 5108  37544    Male  51.0             0              0          Yes
 5109  44679  Female  44.0             0              0          Yes

           work_type Residence_type  avg_glucose_level   bmi   smoking_status
 0           Private          Urban             228.69  36.6  formerly smoked
 2           Private          Rural             105.92  32.5     never smoked
 3           Private          Urban             171.23  34.4           smokes
 4     Self-employed          Rural             174.12  24.0     never smoked
 5           Private          Urban             186.21  29.0  formerly smoked
 ...             ...            ...                ...   ...              ...
 5104       children          Rural             103.08  18.6          Unknown
 5106  Self-employed          Urban             125.20  40.0     never smoked
 5107  Self-employed          Rural              82.99  30.6     never smoked
 5108        Private          Rural             166.29  25.6  formerly smoked
 5109       Govt_job          Urban              85.28  26.2          Unknown

 [4909 rows x 11 columns],
 0       1
 2       1
 3       1
 4       1
 5       1
        ..
 5104    0
 5106    0
 5107    0
 5108    0
 5109    0
 Name: stroke, Length: 4909, dtype: int64)

In [41]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,  y,  test_size = 0.1, random_state = 42)

In [45]:
X_train, X_test, y_train, y_test

(         id  gender   age  hypertension  heart_disease ever_married  \
 2585  37307  Female  35.0             0              0          Yes
 3905   2544    Male  78.0             0              0          Yes
 667   62999    Male  10.0             0              0           No
 2424  62629    Male  37.0             1              0          Yes
 5068  49598    Male  80.0             0              0          Yes
 ...     ...     ...   ...           ...            ...          ...
 4613  45530  Female  19.0             0              0           No
 511   27832  Female  51.0             0              0          Yes
 3247  64498  Female  53.0             0              0          Yes
 3946   8041  Female  11.0             0              0           No
 916   67864    Male  63.0             0              0          Yes

           work_type Residence_type  avg_glucose_level   bmi   smoking_status
 2585        Private          Urban              65.48  50.5     never smoked
 3905        Private          Urban             208.85  24.4  formerly smoked
 667        children          Rural              59.49  18.3          Unknown
 2424        Private          Urban             165.99  32.3     never smoked
 5068  Self-employed          Urban             120.03  24.3  formerly smoked
 ...             ...            ...                ...   ...              ...
 4613        Private          Urban              89.30  22.1     never smoked
 511         Private          Rural              82.93  29.7           smokes
 3247        Private          Rural              90.65  22.1  formerly smoked
 3946       children          Rural              93.51  20.8          Unknown
 916         Private          Rural              57.82  28.8  formerly smoked

 [4418 rows x 11 columns],
          id  gender   age  hypertension  heart_disease ever_married  \
 4336  53802    Male  80.0             0              1          Yes
 3709   1454  Female  42.0             0              0           No
 964   59336    Male  66.0             1              0          Yes
 2647  66264    Male  29.0             0              0          Yes
 3262  14376    Male  47.0             0              0          Yes
 ...     ...     ...   ...           ...            ...          ...
 5071  52652    Male  81.0             0              0          Yes
 3468  37209    Male  17.0             0              0           No
 87    71796  Female  70.0             0              1          Yes
 2295  32166    Male  47.0             1              0          Yes
 1112  40824    Male  47.0             0              0          Yes

          work_type Residence_type  avg_glucose_level   bmi   smoking_status
 4336       Private          Rural             125.32  32.9          Unknown
 3709       Private          Urban              84.03  31.4     never smoked
 964        Private          Rural              74.90  32.1     never smoked
 2647      Govt_job          Urban             102.40  26.9           smokes
 3262       Private          Rural              88.49  22.2           smokes
 ...            ...            ...                ...   ...              ...
 5071       Private          Rural             135.32  35.8          Unknown
 3468  Never_worked          Rural             124.38  31.2     never smoked
 87         Private          Rural              59.35  32.3  formerly smoked
 2295       Private          Urban              75.64  24.4     never smoked
 1112       Private          Rural             142.02  30.0          Unknown

 [491 rows x 11 columns],
 2585    0
 3905    0
 667     0
 2424    0
 5068    0
        ..
 4613    0
 511     0
 3247    0
 3946    0
 916     0
 Name: stroke, Length: 4418, dtype: int64,
 4336    0
 3709    0
 964     0
 2647    0
 3262    0
        ..
 5071    0
 3468    0
 87      1
 2295    0
 1112    0
 Name: stroke, Length: 491, dtype: int64)

len(X_train)

In [53]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size = 0.2, random_state = 42)

In [54]:
X_train, X_test, y_train, y_test

(         id  gender   age  hypertension  heart_disease ever_married  \
 3565  68302  Female  40.0             0              0          Yes
 898   62716  Female  59.0             0              0          Yes
 2707  46498  Female  57.0             0              0          Yes
 4198   4148    Male  81.0             0              0          Yes
 2746  35315    Male  65.0             0              0          Yes
 ...     ...     ...   ...           ...            ...          ...
 4613  45530  Female  19.0             0              0           No
 511   27832  Female  51.0             0              0          Yes
 3247  64498  Female  53.0             0              0          Yes
 3946   8041  Female  11.0             0              0           No
 916   67864    Male  63.0             0              0          Yes

           work_type Residence_type  avg_glucose_level   bmi   smoking_status
 3565        Private          Urban              65.77  31.2     never smoked
 898   Self-employed          Urban              81.64  32.8          Unknown
 2707        Private          Urban             217.40  36.6     never smoked
 4198  Self-employed          Urban              71.18  23.9  formerly smoked
 2746  Self-employed          Urban              95.88  28.5     never smoked
 ...             ...            ...                ...   ...              ...
 4613        Private          Urban              89.30  22.1     never smoked
 511         Private          Rural              82.93  29.7           smokes
 3247        Private          Rural              90.65  22.1  formerly smoked
 3946       children          Rural              93.51  20.8          Unknown
 916         Private          Rural              57.82  28.8  formerly smoked

 [3927 rows x 11 columns],
          id  gender   age  hypertension  heart_disease ever_married  \
 4336  53802    Male  80.0             0              1          Yes
 3709   1454  Female  42.0             0              0           No
 964   59336    Male  66.0             1              0          Yes
 2647  66264    Male  29.0             0              0          Yes
 3262  14376    Male  47.0             0              0          Yes
 ...     ...     ...   ...           ...            ...          ...
 1022  60047    Male  22.0             0              0           No
 205   51314  Female  78.0             0              0          Yes
 3838  53759    Male  56.0             0              0          Yes
 5010  58635  Female  72.0             0              0          Yes
 1559  37759  Female  53.0             0              0          Yes

           work_type Residence_type  avg_glucose_level   bmi   smoking_status
 4336        Private          Rural             125.32  32.9          Unknown
 3709        Private          Urban              84.03  31.4     never smoked
 964         Private          Rural              74.90  32.1     never smoked
 2647       Govt_job          Urban             102.40  26.9           smokes
 3262        Private          Rural              88.49  22.2           smokes
 ...             ...            ...                ...   ...              ...
 1022        Private          Rural              58.38  36.0     never smoked
 205         Private          Urban             106.74  33.0  formerly smoked
 3838  Self-employed          Urban             122.73  37.5  formerly smoked
 5010  Self-employed          Urban              74.17  35.5  formerly smoked
 1559        Private          Rural              72.63  66.8          Unknown

 [982 rows x 11 columns],
 3565    0
 898     0
 2707    0
 4198    0
 2746    0
        ..
 4613    0
 511     0
 3247    0
 3946    0
 916     0
 Name: stroke, Length: 3927, dtype: int64,
 4336    0
 3709    0
 964     0
 2647    0
 3262    0
        ..
 1022    0
 205     1
 3838    0
 5010    0
 1559    0
 Name: stroke, Length: 982, dtype: int64)

In [59]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(10, activation = "relu"),
    tf.keras.layers.Dense(20, activation = "relu"),
    tf.keras.layers.Dense(1, activation = "sigmoid")
    
])

In [ ]:
model.compile(loss = )